<div class="navigation">
  <a routerLink="/">Strona główna</a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/cart"><strong>Koszyk</strong></a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/order">Szczegóły zamówienia</a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/delivery">Dane dostawy</a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/summary"><b style="color: greenyellow">Podsumowanie zamówienia</b></a>
</div>
<div class="col-md-12">
  <h4>Podsumowanie zamówienia</h4>
  <br/>
  <br/>
  <div class="col-md-1"><strong>Od:</strong></div>
  <div class="col-md-6">{{reservation.startDate}}</div>
  <br/>
  <div class="col-md-1"><strong>Do:</strong></div>
  <div class="col-md-6">{{reservation.endDate}}</div>
  <br/>
  <div class="col-md-1"><strong>Cena:</strong></div>
  <div class="col-md-6">{{reservation.price}} zł</div>
  <br/>
  <br/>
  <strong>Wybrane produkty:</strong>
  <data-table
    [items]="reservation.products"
    [pagination]="false"
    [indexColumn]="false"
    [selectColumn]="false"
    [multiSelect]="false">
    <data-table-column
      header="Zdjęcie"
      width="68px">
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Zdjęcie</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <img width="120" height="120" src={{item.src}} alt="Błąd ładowania zdjęcia"/>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="name"
      header="Nazwa"
      width=25%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Nazwa</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.name}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="size"
      header="Rozmiar"
      width=10%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Rozmiar (cm)</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.size}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="price"
      header="Cena (zł)"
      width=10%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Cena (zł)</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.price}}</p>
      </ng-template>
    </data-table-column>
  </data-table>
  <br/>
  <strong>Dane dostawy:</strong>
  <br/>
  <br/>
  <div class="col-md-2"><strong>Adres:</strong></div>
  <div class="col-md-6">Lipowa 13, 13-123</div>
  <br/>
  <div class="col-md-2"><strong>Miejscowość:</strong></div>
  <div class="col-md-6">Szczyrk</div>
  <br/>
  <div class="col-md-2"><strong>Płatność:</strong></div>
  <div class="col-md-6">Przelew</div>
  <br/>
  <br/>
  <br/>
  <button routerLink="/delivery" class="btn btn-danger">Wróć do danych dostawy</button>
  <button (click)="confirm()" class="btn btn-success" onclick="$('#sumModal').modal()">Potwierdź zamówienie</button>
</div>

<div id="sumModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Dokonanie rezerwacji</h4>
      </div>
      <div class="modal-body">
        <p>Dziękujemy za dokonanie rezerwacji w naszym serwisie.<br/>
        Oczekuj na wiadomość e-mail ze szczegółami rezerwacji.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/">OK</button>
      </div>
    </div>
  </div>
</div>
