<div class="navigation">
  <a routerLink="/">Strona główna</a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/reservations"><strong><b style="color: greenyellow">Moje rezerwacje</b></strong></a>
</div>
<div style="margin: auto; max-width: 1000px;">
<div style="margin: auto; max-width: 800px;">
  <div>
    <h3>Moje rezerwacje</h3>
  </div>
  <data-table
    [items]="reservations"
    [pagination]="false"
    [indexColumn]="false"
    [selectColumn]="false"
    [multiSelect]="false">
    <data-table-column
      property="id"
      header="Id"
      width="5%">
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Id</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.id}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="date"
      header="Od"
      width=15%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Od</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.startDate}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="endDate"
      header="Do"
      width=15%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Do</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.endDate}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="price"
      header="Cena (zł)"
      width=15%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Cena (zł)</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.price}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      header="Akcje">
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Akcje</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <div class="center-btn">
          <button data-target="#confirmModal" data-toggle="modal" class="btn btn-sm btn-danger left">Zrezygnuj</button>
          <button (click)="clickedReservation(item)" class="btn btn-sm btn-success right">Szczegóły</button>
        </div>
      </ng-template>
    </data-table-column>
  </data-table>
</div>

<div id="confirmModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Anulowanie rezerwacji</h4>
      </div>
      <div class="modal-body">
        <p>Czy na pewno chcesz zrezygnować z rezerwacji?<br/>
        Możesz zrezygnować z niej bezpłatnie jeszcze przez 8 dni.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="remove()" onclick="$('#confirmModal').modal('hide')">Tak, rezygnuję</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Nie, nie rezygnuję</button>
      </div>
    </div>
  </div>
</div>
