<div style="margin: auto; max-width: 800px;">
  <div>
    <h3>Moje rezerwacje</h3>
  </div>
  <data-table
    [items]="reservations"
    [pagination]="false"
    [indexColumn]="false"
    [selectColumn]="false"
    [multiSelect]="false">
    <data-table-column
      property="id"
      header="Id"
      width="5%">
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Id</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.id}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="date"
      header="Data"
      width=25%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Data</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.date}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="price"
      header="Cena (zł)"
      width=15%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Cena (zł)</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.price}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      header="Akcje">
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Akcje</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <div class="center-btn">
          <button (click)="remove(item.id)" class="btn btn-sm btn-primary left">Zrezygnuj</button>
          <button (click)="clickedReservation(item)" class="btn btn-sm btn-success right">Szczegóły</button>
        </div>
      </ng-template>
    </data-table-column>
  </data-table>
</div>
