<div class="navigation">
  <a routerLink="/">Strona główna</a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/cart"><strong><b style="color: greenyellow">Szczegóły produktu</b></strong></a>
</div>
<div *ngIf="selectedProduct">

    <div class="col-md-6 well">
            <span class="badge">{{selectedProduct.id}}</span> <strong>{{selectedProduct.name}}</strong>
      <p>{{selectedProduct.info}}</p><br/>
            <div style="display: flex">
                <span class="padding-right-5">Ilość: </span>
                <input type="number" [(ngModel)]="quantity">
            </div>
            <h1 class="badge">{{selectedProduct.price}} zł</h1>
            <button *ngIf="currentUser" (click)="addToCart(selectedProduct)" class="btn btn-md btn-success">Dodaj do koszyka</button>
            <button *ngIf="!currentUser" routerLink="/register" class="btn btn-md btn-success">Dodaj do koszyka</button>
            <hr />
            <button (click)="goBack()" class="btn btn-danger">Powrót</button>
    </div>

    <div class="col-md-4 thumbnail image">
        <img width="250" height="250" src={{selectedProduct.src}} />
    </div>

</div>
