<div class="navigation">
  <a routerLink="/">Strona główna</a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/cart"><strong>Koszyk</strong></a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/order"><b style="color: greenyellow">Szczegóły zamówienia</b></a>
</div>
<div style="max-width: 1000px; position: fixed">
  <div class="container">
    <a routerLink="/order"><b><u>Szczegóły zamówienia</u></b></a><span class="glyphicon glyphicon-menu-right"></span>
    <a routerLink="/delivery">Dane dostawy</a><span class="glyphicon glyphicon-menu-right"></span>
    <a routerLink="/summary">Podsumowanie zamówienia</a>
  </div>
</div>
<div style="margin-top: 30px;">
  <h4><b>Szczegóły zamówienia</b></h4>
  <br/><strong>Od:</strong> {{reservation.startDate}}
  <br/><strong>Do:</strong> {{reservation.endDate}}
  <br/><strong>Dni: </strong>3
  <br/><strong>Cena: {{reservation.price}} zł</strong>
  <br/><br/>
  <strong>Wybrane produkty:</strong>
  <data-table
    [items]="reservation.products"
    [pagination]="false"
    [indexColumn]="false"
    [selectColumn]="false"
    [multiSelect]="false">
    <data-table-column
      header="Zdjęcie"
      width="68px">
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Zdjęcie</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <img width="120" height="120" src={{item.src}} alt="Błąd ładowania zdjęcia"/>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="name"
      header="Nazwa"
      width=15%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Nazwa</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.name}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="size"
      header="Rozmiar"
      width=15%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Rozmiar</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center">{{item.size}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="price"
      header="Cena (zł)"
      width=15%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Cena (zł)</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center"><b>{{item.price}}</b></p>
      </ng-template>
    </data-table-column>
  </data-table>
  <br/>
  <div class="col-md-3">
    <button routerLink="/cart" class="btn btn-danger">Powrót do koszyka</button>
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <button routerLink="/delivery" class="btn btn-success">Przejdź do wyboru danych dostawy</button>
  </div>
</div>
