.image:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
.image {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor: pointer;
}

.center {
  text-align: center;
}

.container {
  position: fixed;
  z-index: 1000;
  background-color: #ecfaff;;
  top: 62px;
  margin: 0 -15px;
}
