<div class="left-menu-bg">
  <div class="left-menu">
    <ul class="left-menu-list">
      <li class="item"><a routerLink="/" routerLinkActive="active">Zarezerwuj sprzęt</a></li>
      <li class="item"><a routerLink="/reservations" routerLinkActive="active" *ngIf="currentUser">Moje rezerwacje</a></li>
    </ul>
    <div class="opinion">
      <ul class="star-list">
        <li><span class="glyphicon glyphicon-star"></span></li>
        <li><span class="glyphicon glyphicon-star"></span></li>
        <li><span class="glyphicon glyphicon-star"></span></li>
        <li><span class="glyphicon glyphicon-star"></span></li>
        <li><span class="glyphicon glyphicon-star-empty"></span></li>
      </ul>
    </div>
    <div class="snow-bg"></div>
    <div class="snow-bg-bottom"></div>
  </div>
</div>

