<div class="left-menu-bg">
  <div class="left-menu">
    <ul class="left-menu-list">
      <li class="item"><a routerLink="/" routerLinkActive="active">Zarezerwuj sprzęt</a></li>
      <li class="item"><a routerLink="/reservations" routerLinkActive="active" *ngIf="currentUser">Moje rezerwacje</a></li>
    </ul>
    <div class="opinion">
      <ul class="star-list">
        <li><span class="glyphicon glyphicon-star"></span></li>
        <li><span class="glyphicon glyphicon-star"></span></li>
        <li><span class="glyphicon glyphicon-star"></span></li>
        <li><span class="glyphicon glyphicon-star"></span></li>
        <li><span class="glyphicon glyphicon-star-empty"></span></li>
      </ul>
    </div>
    <div  *ngIf="currentUser" style="margin-top: 100px; text-align: center; padding: 20px 0;
  text-align: center; background-color: #4195fc;">
      <p style="color: white; padding: 10px;">Twoja opinia:</p>
      <select class="sel" style="width: 30px;">
        <option value="5" selected>5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
      <button class="btn-success btn" onclick="$('#infoModal').modal()">Prześlij opinię</button>
    </div>
    <div class="snow-bg"></div>
    <div class="snow-bg-bottom"></div>
  </div>
</div>

<div id="infoModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Wystawienie opinii</h4>
      </div>
      <div class="modal-body">
        <p>Dziękujemy za wystawienie opinii o naszej wypożyczalni.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/">OK</button>
      </div>
    </div>
  </div>
</div>
