.image:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
.image {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor: pointer;
}

.input-product {
  width: 40px;
  margin: 0 25%;
}

.center-button{
  margin: 0 10%;
}

.center {
  text-align: center;
}

.container {
  max-width: 1000px;
  position: fixed;
  text-align: center;
  z-index: 1000;
  background-color: #ecfaff;;
  top: 75px;
  width: 75%;

  .dropdown-menu {
    left: 20%;
    width: 60%;

    li {
        .size {
          float: right;
          margin-top: 5px;
        }
    }
  }

  .startReservation {
    float: left;
  }

  .stopReservation {
    float: left;
  }

  .checkType {
    float: left;
  }

  .checkSize {
    float: left;
  }

  .show {
    float: left;
    margin-top: 35px;

    button {
      padding:5px;
    }
  }
}

