.image:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
.image {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor: pointer;
}

.input-product {
  width: 40px;
  margin: 0 25%;
}

.center-button{
  margin: 0 10%;
}

.center {
  text-align: center;
}

