<div style="margin: auto; max-width: 1000px;">
  <!--<div>-->
  <!--<span>Cena od: </span>-->
  <!--<input type="number" [(ngModel)]="yearLimit" class="form-control input-sm" style="display: inline-block; width: 100px">-->
  <!--</div>-->
  <data-table
    [items]="products"
    [itemCount]="quantity"

    [pagination]="false"
    [indexColumn]="false"
    [selectColumn]="false"
    [multiSelect]="false">
    <data-table-column
      property="product.name"
      header="Zdjęcie"
      width="120px">
      <ng-template #dataTableCell let-item="item">
        <img (click)="clickedProduct(item)" width="120" height="120"
             src={{item.src}} class="img-responsive image" alt="Błąd ładowania zdjęcia"/>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="name"
      header="Nazwa"
      sortable="true"
      width=30%>
    </data-table-column>
    <data-table-column
      property="size"
      header="Rozmiar"
      width=15%>
    </data-table-column>
    <data-table-column
      property="price"
      header="Cena(PLN)"
      sortable="true"
      width=15%>
    </data-table-column>
    <data-table-column
      header="Dodaj do koszyka">
      <ng-template #dataTableHeader let-item="item">
        <p>Dodaj do koszyka</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <div style="display: flex">
          <span class="padding-right-5">Ilość: </span>
          <input type="number" [(ngModel)]="quantity" >
        </div>
        <button (click)="addToCart(item)" class="btn btn-sm btn-primary">Dodaj</button>
        <button (click)="clickedProduct(item)" class="btn btn-sm btn-success">Szczegóły</button>
        <h5>{{quantity}} details!</h5>
      </ng-template>
    </data-table-column>
  </data-table>
  <div>
    <div>
      <b>Selected:</b>
      <span [textContent]="carsTable.selectedRows.length"></span>
    </div>
    <div *ngFor="let selected of carsTable.selectedRows">
      <span [textContent]="selected.item.model"></span>
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let product of products">
    <div class="col-xs-12">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>
            <span class="badge">{{product.id}}</span> <strong>{{product.name}}</strong>
          </md-card-title>
        </md-card-header>

        <img width="220" height="220" src={{product.src}}/>
        <md-card-content>
          <p>{{product.info}}</p>
        </md-card-content>
        <md-card-actions>
          <div style="display: flex">
            <span class="padding-right-5">Quantity: </span>
            <input type="number" #aa [(ngModel)]="quantity">
          </div>
          <h1 class="badge">${{product.price}}</h1>
          <button (click)="addToCart(product)" class="btn btn-sm btn-primary">Add to Cart</button>
          <button (click)="clickedProduct(product)" class="btn btn-sm btn-success">Details</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
