<div class="navigation">
  <a routerLink="/"><strong>Strona główna</strong></a>
</div>
<div style="margin: auto; max-width: 1000px; margin-top: 120px;">
  <!--datePicker-->
  <div class="container">
    <h4 style="text-align: left;"><b>Zarezerwuj sprzęt</b></h4>
    <div class="col-sm-3">
      <div class="startReservation">
        <h5>Początek rezerwacji</h5>
        <sample-date-picker-normal></sample-date-picker-normal>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="stopReservation">
        <h5>Koniec rezerwacji</h5>
        <sample-date-picker-normal></sample-date-picker-normal>
      </div>
    </div>
    <div class="col-sm-2">
      <h5>Wybierz sprzęt</h5>
      <div class="button-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Sprzęt
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox" (click)="chooseType('Narty')"/>Narty</a>
          </li>
          <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" (click)="chooseType('Kaski')"/>Kaski</a>
          </li>
          <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox" (click)="chooseType('Gogle')"/>Gogle</a>
          </li>
          <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox" (click)="chooseType('Kijki')"/>Kijki</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2">
      <h5>Wybierz rozmiar</h5>
      <div class="button-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Rozmiar
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox" (click)="chooseSize('121cm - 140cm')"/><div class="size">121cm - 140cm</div></a>
          </li>
          <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" (click)="chooseSize('141cm - 160cm')"/><div class="size">141cm - 160cm</div></a>
          </li>
          <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox" (click)="chooseSize('161cm - 180cm')"/><div class="size">161cm - 180cm</div></a>
          </li>
          <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox" (click)="chooseSize('181cm - 200cm')"/><div class="size">181cm - 200cm</div></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="show">
        <button *ngIf="!isFiler" type="button" class="btn btn-success" (click)="filter()">Zatwierdź</button>
        <button *ngIf="isFiler" type="button" class="btn btn-danger" (click)="showAll()">Wyczyść</button>
      </div>
    </div>
  </div>
  <br/>
  <strong *ngIf="chosenTypes.length>0">Wybrane sprzęty:</strong> {{displayChosenTypes()}}
  <br/>
  <strong *ngIf="chosenSizes.length>0">Wybrane rozmiary:</strong> {{displayChosenSizes()}}
  <data-table
    [items]="products"
    [itemCount]="quantity"

    [pagination]="false"
    [indexColumn]="false"
    [selectColumn]="false"
    [multiSelect]="false">
    <data-table-column
      property="product.name"
      header="Zdjęcie"
      width="12%">
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Zdjęcie</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <img width="120" height="120" src={{item.src}} class="img-responsive image" alt="Błąd ładowania zdjęcia"/>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="name"
      header="Nazwa"
      width=15%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Nazwa</p>
        <ng-template #dataTableCell let-item="item">
          <a class="centerA">
            <p class="center">{{item.name}}</p>
          </a>
        </ng-template>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="size"
      header="Rozmiar"
      width=10%>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Rozmiar (cm)</p>
      </ng-template>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Rozmiar (cm)</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <a class="centerA">
          <p class="center">{{item.size}}</p>
        </a>
      </ng-template>
    </data-table-column>
    <data-table-column
      property="info"
      header="Opis"
      width=30%
      white-space="pre-wrap">
      <ng-template #dataTableHeader let-item="item">
        <p class="center" >Parametry techniczne</p>
      </ng-template>
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Parametry techniczne </p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <p class="center" style="white-space: pre-wrap;" *ngIf="mouseOver!=item.id" (mouseenter)="setMouseOver(item.id)">{{item.info.substring(0,50)}}...<br/><i id="more">Najedź kursorem, by zobaczyć więcej</i></p>
        <p class="center" style="white-space: pre-wrap;" *ngIf="mouseOver==item.id" (mouseleave)="setMouseOver(0)">{{item.info}}</p>
      </ng-template>
    </data-table-column>
    <data-table-column
      id="a"
      property="price"
      header="Cena (zł)"
      width=10%>
      Rozmiar (cm)
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Cena (zł)</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <a class="centerA">
          <p class="center"><strong>{{item.price}}</strong></p>
        </a>
      </ng-template>
    </data-table-column>
    <data-table-column
      header="Dodaj do koszyka"
      width="23%">
      <ng-template #dataTableHeader let-item="item">
        <p class="center">Dodaj do koszyka</p>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <div class="input-product" style="display: flex">
          <p class="padding-right-5" style="margin-top: 5px;">Ilość: </p>
          <input class="input-product" type="number" [(ngModel)]="quantity[item.id]" min="0">
          <button (click)="addToCart(item)" class="btn btn-sm btn-success" *ngIf="currentUser">Dodaj</button>
          <a routerLink="/register" class="btn btn-sm btn-primary" *ngIf="!currentUser">Dodaj</a>
        </div>
      </ng-template>
    </data-table-column>
  </data-table>
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker({
        language: 'ru',
        useCurrent: false
      });
    });
  </script>
</div>
