<div class="navigation">
  <a routerLink="/">Strona główna</a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/cart"><strong>Koszyk</strong></a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/order">Szczegóły zamówienia</a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/delivery"><b style="color: greenyellow">Dane dostawy</b></a><span class="glyphicon glyphicon-menu-right"></span>
  <a routerLink="/summary">Podsumowanie zamówienia</a>
</div>
<div class="col-md-8 col-md-offset-2">
  <h2>Dane dostawy</h2>
  <form name="form" novalidate>
    <div class="form-group">
      <label for="address">Adres <span style="color: red">*</span> (np. Długa 1)</label>
      <input type="text" class="form-control" name="address" required />
    </div>
    <div class="form-group">
      <label for="address">Kod pocztowy <span style="color: red">*</span></label>
      <input type="text" class="form-control" name="address-code" required />
    </div>
    <div class="form-group">
      <label for="town">Miejscowość <span style="color: red">*</span></label>
      <input type="text" class="form-control" name="town" required />
    </div>
    <div class="form-group">
      <label for="payment">Sposób płatności <span style="color: red">*</span></label><br/>
      <select class="custom-select">
        <option value="1" selected>Przy odbiorze </option>
        <option value="2">Przelew </option>
      </select>
    </div>
    <div class="form-group">
      <button routerLink="/" class="btn btn-danger">Anuluj i wróć do strony głównej</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <button [disabled]="loading" class="btn btn-success" routerLink="/summary">Przejdź do podsumowania</button>
    </div>
  </form>
</div>

